<div class="sidebar-nav" >
    <nav class="navbar navbar-dark bg-dark fixed-top" style="height:80px;">
        <div class="container">
            <div class="btn-group">
                <a href="#" class="dropdown-toggle text-white text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="textnone"style="color:white;">Menu</span> 
                </a>
                <ul class="dropdown-menu dropdown-menu-start">
                    <li><button class="dropdown-item" type="button">Option 1</button></li>
                    <li><button class="dropdown-item" type="button">Option 2</button></li>
                    <li><button class="dropdown-item" type="button">Option 3</button></li>
                    <li><button class="dropdown-item" type="button">Option 4</button></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><button class="dropdown-item" type="button">logout</button></li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#idtarget">
                <i class="fa-solid fa-ellipsis-vertical" style="color:white;"></i>
            </button>
            <div class="offcanvas offcanvas-end shadow" id="idtarget">
                    <ul class="navbar-nav">
                        <li><a href="#"><span class="item-text">Calendar</span></a></li>
                        <li><a href="#"><span class="item-text">Applications</span></a></li><hr>
                        <li><a href="#"><span class="item-text">History</span></a></li>
                        <li><a href="#"><span class="item-text">Bookmorks</span></a></li>
                        <li><a href="#"><span class="item-text">About</span></a></li><hr>
                        <li><a href="#"><span class="item-text">Settings</span></a></li>
                        <li><a href="#"><span class="item-text">Help & feedback</span></a></li>
                    </ul>
              </div>
            </div>
     
